<div id="footer" class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="cover col col-sm-auto">
        <img src="/assets/images/cover.jpg" alt="{{ site.name }}" width="160" height="160">
      </div>
      <div class="contact col col-lg-auto">
        <ul>
          <li>Created by <span class="site-owner">{{ site.data.owner.name }}</span></li>
          <li>
            <ul>
              {% for contact in site.data.owner.contacts %}
              <li class="contact-link">
                <a href="{{contact[1]}}" target="_blank">
                  <i class="fab fa-fw fa-lg fa-{{contact[0] | downcase | replace: '_', '-'}}"></i>
                </a>
              </li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
