<div class="post-navigator">
  <div class="row">
    <ul>
      {% assign found = false %}
      {% for post in site.posts %}
      {% if post.url == page.url %}
      {% assign found = true %}
      {% elsif found %}
      <li><a href="{{ post.url }}"><i class="fas fa-arrow-left"></i> {{ post.title }}</a></li>
      {% break %}
      {% endif %}
      {% endfor %}

      {% assign found = false %}
      {% for post in site.posts reversed %}
      {% if post.url == page.url %}
      {% assign found = true %}
      {% elsif found %}
        <li><a href="{{ post.url }}">{{ post.title }} <i class="fas fa-arrow-right"></i></a></li>
      {% break %}
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>