<div class="small share">
  <ul class="post-info">
    <li>
      <i class="fa fa-share-alt"></i>
    </li>
    <li>
      <a target="_blank" href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}">
        <i class="fab fa-facebook"></i>
      </a>
    </li>
    <li>
      <a target="_blank" href="http://twitter.com/share?url={{ site.url }}{{ page.url }}&text={{ page.title }}">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}">
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
  </ul>
</div>