html, body {
  height: 100%;
  font-size: 1.2em;
}

body {
  text-align: justify;
}

#content {
  padding-top: 30px;

  h1 {
    padding-bottom: 30px;
  }

  li {
    list-style: none;
    display: inline;
    padding-right: 10px;
  }

  .episode {
    padding-bottom: 30px;
  }

  .episode-description {
    font-size: 85%;
    font-style: italic;
  }

}

#footer {
  padding-top: 60px;
  text-align: right;
  li {
    list-style: none;
  }
  .contact-link {
    list-style: none;
    display: inline;
  }
  .contact-link a:hover {
    text-decoration: none;
  }

  .cover {
    text-align: left;
  }

  .contact {
    font-size: 80%;
    font-style: italic;
    text-align: right;
  }

}
